.FormSubmit{
    
}
.FormHeaderText{
font-size: 18px;
  font-weight: 600;
  margin:20px;
}
.FormContent{
    /* width:"20px" */

}
.FormCaptcha{
    align-items: center;
    margin:0 42%;
    padding:29px

}